@charset "utf-8";
.container{
	position: relative;
}
.left{
	
	margin-right: 15px;
}
.left .glass{
	position: relative;
	width: 400px;
	height: 400px;
}
.left .zoomPad{
	width: 398px;
	height: 398px;
	border: 1px solid #dedede;
	overflow: hidden;
}
.left .filter {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 200px;
	height: 200px;
	background: url(../images/filter.png) repeat;
	cursor: move;
}
.large {
	display: none;
	overflow: hidden;
	position: absolute;
	z-index: 1;
	top: 0px;
	left: 520px;
	width: 400px;
	height: 400px;
}
.large img {
	position: absolute;
	top: 0;
	left: 0;
	width: 800px;
	height: 800px;
}
.left .littleBox{
	margin-top: 25px;
}
.left .littleBox li{
	float: left;
	padding: 1px;
	margin-left: 25px;
	width: 60px;
	height: 60px;
	border: 1px solid #CCC;	
	overflow: hidden;
}
 .left .littleBox li.choice{
 	border: 1px solid #333;	
 	
 }
 .left .littleBox li{
 	cursor: pointer;
 }
.left .littleBox .lbox li img{
	width: 60px;
	height: 60px;
}
